$photo-card-gap: 20px;

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-gallery {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  display: block;

  margin-left: calc((-1) * #{$photo-card-gap});
  margin-top: calc((-1) * #{$photo-card-gap});

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  margin-top: #{$photo-card-gap};
  margin-left: #{$photo-card-gap};

  border: 1px solid #ebebeb;
  border-radius: 2px;
  // flex-basis: calc(100% / 4 - #{$photo-card-gap});
  flex-basis: 350px;

  overflow: hidden;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  color: grey;

  p {
    margin: 3px;
  }
}

.stats-item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 5px;
  }

  &:hover {
    color: #1aa79b;
  }
}

.material-icons {
  margin-right: 4px;
}
